<div class="header">
  <a href="/login" class="logo-container">
    <img src="/assets/shoptartlogo.png" alt="ShopTart Logo" class="logo" />
    <span class="shop-tart-text">ShopTart</span>
  </a>
  <button class="header-button">Login</button>
</div>
